<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/burger_style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Eat-the-Burger App</title>
</head>

<body>
    <div>

        {{{ body }}}

    </div>
    <hr>
    <!-- /container -->
    <footer class=" center footer">
        <div class="container">
            <p> Copyright © Phil D. 2018</p>
        </div>
    </footer>
</body>

</html>