h1 {
    color:rgba(255, 0, 0, 0.945);
    text-align: center;
};

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
     color: #ff8C00;
 };
 .burgerAdd {
     text-align: center;
 }