<li>
    {{name}}

    <button class="change-devoured" data-id="{{}}" data-newdevoured="{{devoured}}">
            {{#if devoured}}Yummy!{{else}}EAT ME!{{/if}}
    </button>

    <button class "delete-burger" data-id="{{this.id}}">Delete burger</button>
</li>